on early-boot
    start comp-set

    chown radio system /sys/class/camera/rear/flash

#SISO-PLAYREADY-CHANGES
#DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

# Added for Playready DRM Support
    mkdir /data/data/.drm 0775
   	chown drm system /data/data/.drm
    	chmod 0775 /data/data/.drm

    mkdir /data/data/.drm/.playready 0775
  	chown drm system /data/data/.drm/.playready
  	chmod 0775 /data/data/.drm/.playready

#SISO-PLAYREADY-CHANGES

service comp-set /system/bin/sh /system/etc/init.qcom.composition_type.sh
    user root
    critical
    disabled
    oneshot
